<div class="container mt-5">
    <h2 class="text-center mb-4">Welcome to the Product Category Management System</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <button class="btn btn-primary btn-lg w-100 mb-3" (click)="CategoryButton()">
                <h3 class="mb-0">Category</h3>
            </button>

            <button class="btn btn-secondary btn-lg w-100" (click)="ProductButton()" >
                <h3 class="mb-0">Product</h3>
            </button>
        </div>
    </div>
</div>
